# ==========================================
# Konfigurasaun  DECOR STARTER KIT
# ==========================================

# 1. Setup  Apps
APP_NAME=NewProject
APP_PORT=5351

# 2. Setup  Database PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=decor_db
DB_USER=postgres
DB_PASS=decor#12345